In [ ]:
# A for loop is a control structure used in programming to repeat a block of code a specific number of times.

# In Python, it’s commonly used to iterate over a sequence (like a list, string, or range).

In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# The space after the for in a for loop is where you define the loop variable — 
# The name that will represent each item in the sequence during each loop iteration.
# It can be anything you want

In [2]:
for _ in range(5):
    print(_)

0
1
2
3
4

In [3]:
List1 = list(range(10))

In [4]:
List1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
for _ in List1:
    print(_)

0
1
2
3
4
5
6
7
8
9

In [6]:
# we can combine other statements with for looops

In [8]:
for num in List1:
    if num % 2 == 0:
        print(f'Even number:{num}')
    else:
        print(f'Odd number:{num}')

Even number:0
Odd number:1
Even number:2
Odd number:3
Even number:4
Odd number:5
Even number:6
Odd number:7
Even number:8
Odd number:9

In [9]:
# we can use addition with for loops

In [10]:
list_sum = 0

for num in List1:
    list_sum = list_sum + num

In [11]:
list_sum

45

In [12]:
# tuple unpacking

In [13]:
t = [(1,2),(3,4),(5,6)]

In [15]:
for _ in t:
    print(_)

(1, 2)
(3, 4)
(5, 6)

In [16]:
for a,b in t:
    print(a)

1
3
5

In [17]:
for a,b in t:
    print(b)

2
4
6

In [ ]:
# for dictinories it will only itreat through the keys only.
# we have to use dict methods .key .values .items

In [18]:
d = {'k1':1,'k2':2,'k3':3}

In [19]:
for _ in d:
    print(_)

k1
k2
k3

In [21]:
# this will print both key and value
for _ in d.items():
    print(_)

('k1', 1)
('k2', 2)
('k3', 3)

In [25]:
for _ in d.keys():
    print(_)

k1
k2
k3

In [24]:
for _ in d.values():
    print(_)

1
2
3